# Ignore node_modules
node_modules/


# Ignore environment 
.env


# Ignore log files
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build and cache files

.cache/
dist/
build/

# Ignore OS or editor-specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Ignore dependencies installed via package manager
package-lock.json
yarn.lock
pnpm-lock.yaml
